@media (max-width: 860px){
    header .header-container nav ul{
        display: none;
    }

    .box-description--team{
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .company{
        flex-direction: column;
    }
    .service-box{
        flex-direction: column;
        row-gap: 40px;
        margin-bottom: 60px;
    }
    .box-content-service{
        border: none;
    }

    .footer-register{
        padding-top: 10px;
        margin: 10px auto;
        border-radius: 5px;
    }
    .team-description--photo_area{
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    .box-team{
        width: 40vw;
    }

    .box-project{
        width: 47%;
    }
    .clients{
        flex-wrap: wrap;
    }
    .clients img {
        margin: 10px;
    }
    footer .footer-container{
        flex-direction: column;
    }
    .box-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .link, footer p, .footer-register{
        width: 50vw;
    }
    .footer-register{
        padding-top: 10px;
        margin: 10px auto;
        border-radius: 5px;
    }
    .team-description--photo_area{
        width: 40%;
        display: flex;
        flex-direction: column;
    }
}

