@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #0b003c;
    color: white;
    padding: 10px;
}
header > h1{
    font-family: 'Bebas Neue', cursive;
    font-style: oblique;
    text-align: center;
    font-size: 2.3em;
    padding: 40px 20px;
}
nav{
    background-image: linear-gradient(to bottom, transparent 7%, #000000);
    margin: -10px;
    padding: 10px;
}
nav > a{
    text-decoration: none;
    padding: 5px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-shadow: 1px 1px 2px black;
}

nav > a:hover{
    background-image: linear-gradient(to right, #b4b4b4, transparent);
}

.container{
    text-align: center;
}

.navegacao{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: gray;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
}

main{
    padding: 20px;
}
section > p{
    margin-bottom: 15px;
    text-align: justify;
    text-indent: 10px;
    line-height: 1.3em;
}
iframe{
    width: 400px;
    height: 400px;
    display: block;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #00000080;
}

ul{
    display: flex;
}

li{
    margin: auto;
    background-color: #bcbaba47;
    padding: 5px;
    font-size: 0.8em;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #00000062;
}

li > a{
    text-decoration: none;
    color: #000000;
}
li:hover{
    background-color: #80808044;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.688);
}

footer{
    background-color: #000000;
    text-align: center;
    color: white;
    padding: 5px;
}
footer > p > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-style: italic;
    margin-left: 5px;
}
footer > p > a:hover{
    text-decoration: underline;
}