*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

menu{
    background-color: black;
    color: white;
    padding: 6px;
}

menu li{
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
}

main{
    width: 700px;
    height: 84.3vh;
    text-align: justify;
    margin: 20px auto;

}
footer{
    background-color: grey;
    color: aliceblue;
    text-align: center;
}