body{
    background:#233eff url(../img/cev-portrait.jpg) left bottom no-repeat;
    background-size: contain;
}

h1::after{
    content: 'portrait';
    color: white;
    font-size: 0.5em;
    display: block;
}