*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --color-font-1: #FFFFFF;
    --color-font-2: #888888;
    --color-font-3: #000000;
    --color-box-1: #42b3e5;
    --color-box-2: #0384ce;
    --color-box-3: #3156a3;
}

header{
    height: 120px;

    display: flex;
    justify-content: center;
}

.menu-container{
    width: 990px;

    display: flex;
    justify-content: space-between;
    
}

.logo{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
}

nav a{
    display: block;

    padding: 15px;
    text-decoration: none;
    color: var(--color-font-2);
}

.activ, nav a:hover{
    background-color: var(--color-box-1);
    color: var(--color-font-1);

    transition: .6s;
}

#banner{
    height: calc(100vh - 120px);

    background: url(../imagem/person.jpg) center no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
}

.banner-container{
    width: 990px;
    height: 100%;
}

.banner-text{
    height: calc(100% - 200px);

    color: var(--color-font-1);
    text-shadow: 0px 1px #000000;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-text > h1{
    max-width: 330px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 500;
}

.banner-text > p{
    max-width: 300px;
    font-size: 1.1em;
    line-height: 1.5em;
}

.banner-box{
    height: 200px;

    display: flex;
}

.box{
    flex: 1;
    padding: 25px;
    color: var(--color-font-1);
}

.box > h2{
    margin-bottom: 20px;
    font-weight: lighter;
}

.banner-container button{
    margin-top: 15px;
    padding: 10px;

    border: 1px solid #ffffff;
    color: var(--color-font-1);
    background-color: transparent;
    cursor: pointer;

    transition: .6s;
}

.banner-container button:hover{
    background-color: #0000002f;
}

.box-1{
    background-color: var(--color-box-1);
}

.box-2{
    background-color: var(--color-box-2);
}

.box-3{
    background-color: var(--color-box-3);
}

.days-and-hours{
    display: flex;
    justify-content: space-between;

    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #4468b2;
}

#page-news{
    display: flex;
    justify-content: center;
}

.page-news-container{
    width: 990px;

    display: flex;
}

.column-1{
    flex: 2;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.column-2{
    border: 1px solid black;
    flex: 1;
}

.widget-tittle{
    padding-top: 30px;
}

.widget-tittle > div{
    width: 50px;
    height: 2px;

    margin-top: 10px;
    background-color: var(--color-box-1);
}

.widget-body{
    flex: 1;
    min-width: 300px;
    margin-right: 10px;
    border-radius: 5px;
} 

.widget-body a{
    text-decoration: none;
}

.widget-body:hover{
    background-color: #42b4e50d;
    transition: 1s;
}

.news-date{
    display: flex;
    margin: 30px 0px;
}

.news-date > .p1{
    padding: 10px;
    background-color: var(--color-box-3);
    color: var(--color-font-1);
    margin-right: 2px;
}

.news-date > .p2{
    padding: 10px;
    background-color: var(--color-box-1);
    color: var(--color-font-1);
}

.news-thumbnail img{
    width: 100%;
    height: auto;
}

.widget-body a > h3{
    margin: 30px 0px;
    color: var(--color-font-3);
    font-size: 1.4em;
    font-weight: lighter;
}

.widget-body a > p{
    color: var(--color-font-2);
    line-height: 1.4em;
    
}