@media (max-width: 935px){
    .menu-container{
        flex-direction: column;
    }

}

@media (max-width: 810px){
    header{
        height: auto;
    }

    .menu-container{
        flex-direction: row;
    }

    nav ul{
        flex-direction: column;
        display: none;

        position: absolute;
        top: 10.2%;
        right: 0;
        background-color: var(--color-font-1);
    }
    .material-symbols-outlined{
        cursor: pointer;
    }

    .logo{
        margin: 10px 0px 10px 10px;
    }

    #banner{
        height: auto;
        background-size: auto;
    }

    .banner-text{
        padding-left: 25px;
    }

    .banner-text h1{
        font-size: 45px;
    }

    .direction-column{
        flex-direction: column;
    }
    
    .page-news-container{
        flex-direction: column;
        padding: 0px 20px 10px 30px;
    }
    
    .sections-footer{
        padding: 0px 10px 0px 30px;
    }
    
    .copyright-footer{
        padding-left: 30px;
    }

    .mobile-menu{
        display: block;
        margin-right: 10px;

    }

    
}

@media (max-width: 374px){
    .page-news-container{
        padding: 0px 10px 10px 10px;
    }

    .widget-body{
        margin-right: auto;
    }

    .banner-text h1{
        font-size: 35px;
    }

    .banner-text p{
        font-size: 1em;
    }

    .sections-footer{
        padding: 0px 10px 0px 20px;
    }
}