*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    background: #000000 url(imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
}

#telefone{
    background: url(imagens/frame-iphone.png);
    width: 311px;
    height: 627px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#menu-telefone > img{
    width: 60px;
    border-radius: 50%;
    margin: 10px;
}

#menu-telefone img:hover{
    border: 2px solid #ffffff7d;
    transform: translate(6%, 5%);
    transition: 0.5s, border 0.25s;
}

#tela{
    position: relative;
    left: 22.5px;
    top: 80px;
    width: 266px;
    height: 470px;
}