*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body{
    background-image: linear-gradient(130deg, #4F6F8C 70%, #F7D6D2 30%);
    
}

main{
    height: 100vh;
}

#telefone{
    background: url(imagens/frame-iphone.png);
    width: 311px;
    height: 627px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#menu-telefone  img{
    width: 60px;
    border-radius: 50%;
    margin: 10px;
}

#menu-telefone img:hover{
    border: 2px solid #ffffffc1;
    transform: translate(6%, 5%);
    transition: 0.5s, border 0.25s;
}

#tela{
    position: relative;
    left: 22.5px;
    top: 80px;
    width: 266px;
    height: 470px;
}